body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* margin: 20px auto; */
    width: max-content;
    align-content: center;
    /* background-image: url(./assets/bg-pattern-card.svg); */
    /* background-size: 100% 40%; */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    align-items: center;
    /* margin-left: 20%; */
    width:200px;
  }
  .profile{
      width: 100px;
      border-radius: 100%;
      margin-left: 30%;
      /* margin-right: 20%; */
      /* margin-top: 40%; */
      /* background-position-x: center; */
  }
  .card__container{
      width:800px;
  }
  .name{
      display: flex;
      justify-content: space-around;
  }
  p{
     margin-left: 40%;
  } 
  .age{
      color: gray;
  }
  .numerics{
      display: flex;
      justify-content: space-evenly;
  }