body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card {
    margin: 0 auto -130px auto;
    width: max-content;
    align-content: center;
    border-radius: 10px;  
    padding-bottom: 10px;
    left: 40%;
    background-color:whitesmoke;
}

.container {
    padding: 2px 16px;
    align-items: center;
    width: 280px;
    object-fit: contain;
    border-radius: 10px;
}

.top__right {
    background-image: url(./assets/bg-pattern-top.svg);
    margin-right: 45%;
    height: 350px;
    z-index: 1;
    margin-bottom: -160px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.bottom__left {
    background-image: url(./assets/bg-pattern-bottom.svg);
    margin-left: 45%;
    height: 350px;
    background-repeat: no-repeat;   
}

.profile {
    width: 100px;
    border-radius: 100%;
    margin-left: 35%;
    margin-right: 35%;
    position: relative;
    bottom: 40px;
    box-shadow: 0px 0px 0px 5px #fff;
    margin-bottom: -55px;
    z-index: 1;
}

.card__container {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    background-color: hsl(185, 75%, 39%);
}

.name {
    display: flex;  
    margin-left: 32%;
    margin-bottom: -10%;
}

p {
    margin-left: 40%;
    margin-top: 10px;
    color: hsl(227, 10%, 46%);
}

.age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin-left: 10px;
}

.numerics {
    display: flex;
    justify-content: space-evenly;
}

.more__info {
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
    margin-right: 10%;
    margin-left: -18%;    
    width: 100%;
}

.backgroudimg {
    width: 100%;
    background-image: url(./assets/bg-pattern-card.svg);
    min-height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -2;
    margin-bottom: -10px;
}

h5 {    
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

hr {
    height: 0.5px;
    margin-bottom: -10px;
    background-color: hsl(227, 10%, 46%)  
}

.first__part {
    margin-bottom: -5px;
}

.info {
    margin-left: 60px;
    font-weight: 400;
}