body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(243, 240, 240, 0.993);
    transition: 0.3s; */
    /* margin: 20px auto; */
    width: max-content;
    align-content: center;
    border-radius: 10px;
    /* z-index: -1; */
    /* border: 2px solid rgb(247, 237, 237); */
    background-color: white;
    /* margin-top: 50px; */
    
    /* padding-top: 50px; */
    /* border:2px rgb(16, 17, 16); */
    /* background-image: url(./assets/bg-pattern-card.svg); */
    /* background-size: 100% 40%; */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(238, 236, 236, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    align-items: center;
    /* margin-left: 20%; */
    width:300px;
    object-fit: contain;
    border-radius: 10px;
  }
  .profile{
      width: 100px;
      border-radius: 100%;
      margin-left: 32%;
      margin-right: 35%;
      position: relative;
      bottom: 40px;
      box-shadow: 0px 0px 0px 5px #fff;
      /* margin-right: 20%; */
      /* margin-top: 40%; */
      /* background-position-x: center; */
      margin-bottom:-55px;
      z-index: 1;
  }
  .card__container{
     /* min-width:100vw;
      min-height: 100vh; */
      margin-left: 0;
      background-color: hsl(202, 88%, 60%);
  }
  .name{
      display: flex;
      /* justify-content: space-around; */
      margin-left: 25%;
     margin-bottom: -10%;
  }
  p{
     margin-left: 40%;
     margin-top: 10px;
     color: hsl(0, 0%, 59%);
  } 
  .age{
      color: gray;
      font-weight: 400;
      margin-left: 10px;
  }
  .numerics{
      display: flex;
      justify-content: space-evenly;
  }
  .more__info{
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;  
    margin-right: 10%; 
    margin-left: -18%; 
    /* margin-left: -10%; */
    width: 100%;
  }
  .backgroudimg{
      width: 100%;
      background-image:url(./assets/bg-pattern-card.svg);
      min-height: 120px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      z-index: -2;
      margin-bottom: -10px;
  }
  h5{
      font-size: 18px;
      font-weight: 700;
  }
  hr{
      margin-bottom: -10px;
      outline-style:solid hsl(0, 0%, 59%);
  }
  .first__part{
      margin-bottom: -5px;
  }
  .info{
      margin-left: 60px;
      font-weight: 400;
  }